.dropdownButton {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: -1px;

  &:dir(rtl) {
    border-bottom-left-radius: 999px;
    border-top-left-radius: 999px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin-left: 0;
    margin-right: -1px;

    &::before, &:focus::before {
      border-bottom-left-radius: 999px;
      border-top-left-radius: 999px;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &::before, &:focus::before {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}

.saveButton {
  &:dir(rtl) {
    border-bottom-right-radius: 999px !important;
    border-top-right-radius: 999px !important;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin-left: 1px;
    margin-right: 0;
  }
}
